.pomotask{
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 2rem;
    max-width: 90%;
    margin: 0 auto;
}


/* LOGO COMPONENT */
.logo{
    width: 15rem;
    display: block;
    padding: 1rem 0;
    margin: 0rem auto;
    margin-bottom: 2rem;
}

/* TIMER COMPONENT */

.timer{
    
}

/* TO-DO-LIST COMPONENT */

.to-do-list{
   
}
